p, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, input, table, td, th, fieldset {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


/*------------*/


@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro.eot');
  src: local('☺'), url("fonts/KievitWebPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Handsome';
  src: url('fonts/HandsomePro-Thin.eot');
  src: local('☺'), url("fonts/HandsomePro-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* ---------- */

body {
  margin: 0;
  font-size: 12px;
  line-height: 1.6;
}

body, input {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

.careplane {
  font-family: Handsome;
  text-transform: lowercase;
}

.totem {
  position: relative;
  display: block;
  width: 1em;
}

.totem span {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
}

.totem .heart {
  color: rgba(255,0,0,0.2);
}

.totem .airplane {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  font-size: 90%;
  top: .1em;
  margin-left: -.08em;
  color: #eee;
}

h1 {
  background: #96CFEA;
  padding: 20px 40px;
  color: white;
  font-size: 36px;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h2 {
  margin: 20px 0;
}

h2 .date {
  color: silver;
}

#content {
  padding: 0 40px;
}

p.intro {
  font-size: 16px;
  color: #999;
  margin: 20px 0;
}

p.intro a {
  color: inherit;
}

ol.itineraries {
  list-style: none;
}

ol.itineraries>li {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 20px 0;
}

ol.itineraries>li.best {
  border-color: #ABCE84;
}

ol.itineraries>li>dl {
  overflow: auto;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

ol.itineraries>li.best>dl {
  background: #C2EA96;
  border-color: #ABCE84;
}

ol.itineraries>li dl dt {
  display: none;
}

ol.itineraries>li>dl>dd {
  padding: 10px;
  min-height: 25px;
}

ol.itineraries>li.best>dl>dd {
  border-color: #ABCE84 !important;
}

ol.itineraries>li>dl>dd.price {
  float: left;
  width: 80px;
  border-right: 1px solid #ccc;
}

ol.itineraries>li>dl>dd.price:before {
  content: '$';
  padding-right: 3px;
}

ol.itineraries>li>dl>dd.price a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

ol.itineraries>li>dl>dd.emission {
  float: left;
  width: 100px;
  border-right: 1px solid #ccc;
}

ol.itineraries>li>dl>dd.emission>strong {
  font-size: 14px;
  line-height: 17px;
  color: #333;
}

ol.itineraries>li>dl>dd.airline {
  float: left;
  width: 150px;
  border-right: 1px solid #ccc;
  margin: 0 10px 0 0;
}

ol.itineraries>li>dl>dd.airline img {
  vertical-align: middle;
  border: 1px solid #ccc;
}

ol.itineraries>li>dl>dd.stops {
}

ol.itineraries>li>dl>dd.segmentation {
  display: none;
}

ol.itineraries>li ol.legs {
  list-style: none;
}

ol.itineraries>li ol.legs>li {
  border-bottom: 1px solid #ccc;
}

ol.itineraries>li ol.legs>li:last-child {
  border: none;
}

ol.itineraries>li ol.segments {
  list-style: none;
  clear: both;
}

ol.itineraries>li ol.segments li {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

ol.itineraries>li.best ol.segments li {
  border-color: #C2EA96;
}

ol.itineraries>li ol.segments li dl {
  padding-left: 70px;
}

ol.itineraries>li ol.segments li dl dd.time {
  float: left;
  width: 70px;
  color: gray;
  text-transform: lowercase;
  display: none;
}

ol.itineraries>li ol.legs>li ol.segments>li dd.time span:before {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: silver;
}

ol.itineraries>li ol.legs>li:first-child ol.segments>li:first-child dd.departure span:before { content: "\2197"; }
ol.itineraries>li ol.legs>li:first-child ol.segments>li:last-child dd.arrival span:before { content: "\2198"; }
ol.itineraries>li ol.legs>li:last-child ol.segments>li:first-child dd.departure span:before { content: "\2196"; }
ol.itineraries>li ol.legs>li:last-child ol.segments>li:last-child dd.arrival span:before { content: "\2199"; }

ol.itineraries>li ol.legs>li:first-child ol.segments>li:first-child dl,
ol.itineraries>li ol.legs>li:first-child ol.segments>li:last-child dl,
ol.itineraries>li ol.legs>li:last-child ol.segments>li:first-child dl,
ol.itineraries>li ol.legs>li:last-child ol.segments>li:last-child dl {
  padding-left: 0;
}


ol.itineraries>li ol.segments>li:first-child dd.departure,
ol.itineraries>li ol.segments>li:last-child dd.arrival
{
  display: block;
}

ol.itineraries>li ol.segments li dl dd.emission {
  float: left;
  width: 50px;
  color: gray;
}

ol.itineraries>li ol.segments li dl dd.endpoints {
  display: inline;
}

ol.itineraries>li ol.segments li dl dd.endpoints .origin {
  float: left;
  width: 50px;
}

ol.itineraries>li ol.segments li dl dd.aircraft {
  color: gray;
  padding-left: 10px;
  display: inline;
}

ol.itineraries>li ol.segments li dl dd.aircraft span:before {
  content: "\2708";
  font-size: 16px;
  line-height: 16px;
}

ol.itineraries>li ol.segments li dl dd.methodology {
  float: right;
  width: 100px;
  font-size: 9px;
  text-transform: uppercase;
  text-align: right;
}

ol.itineraries>li ol.segments li dl dd.methodology a {
  display: block;
  color: gray;
}

ol.itineraries>li ol.segments li+li .origin {             padding-left: 50px; }
ol.itineraries>li ol.segments li+li+li .origin {          padding-left: 100px; }
ol.itineraries>li ol.segments li+li+li+li .origin {       padding-left: 150px; }
ol.itineraries>li ol.segments li+li+li+li+li .origin {    padding-left: 200px; }
ol.itineraries>li ol.segments li+li+li+li+li+li .origin { padding-left: 250px; }


form fieldset dl dd.round_trip {
  position: absolute;
  margin-top: -50px;
  padding: 0;
  width: 200px;
  border: none;
  margin-left: 310px;
}

form fieldset {
  border: none;
}

form fieldset legend {
  display: none;
}

form fieldset dl {
  overflow: auto;
}

form fieldset dl dt {
  padding: 20px 10px 0 0;
  padding-right: 10px;
  font-size: 11px;
  width: 150px;
  position: absolute;
}

form fieldset dl dt.label, form fieldset dl dt label {
  display: block;
  font-size: 14px;
}

form fieldset dl dt.boolean {
  display: none;
}

form fieldset dl dd {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: block;
  padding-left: 160px;
  min-height: 30px;
  overflow: auto;
}

form fieldset dl dd input[type=text], form fieldset dl dd input[type=password], form fieldset dl dd textarea {
  width: 120px;
  font-size: 16px;
  padding: 5px;
  float: left;
  border: 1px solid silver;
  border-right-color: #eee;
  border-bottom-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  -moz-box-shadow: 1px 1px 0 silver;
}

form fieldset dl dd input:focus {
  border-right-color: silver;
  border-bottom-color: silver;
  -moz-box-shadow: 0 0 5px silver;
  background: #f9f9f9;
}

form fieldset dl dd input[type=file] {
  width: 448px;
  float: left;
}

form fieldset dl dd.airport input[type=text] {
  max-width: 100px;
  text-transform: uppercase;
}

form fieldset dl dd p.assistance {
  color: gray;
  font-size: 11px;
  margin: 0 0 0 150px;
}

form fieldset dl dd p.assistance a {
  color: inherit;
}

form fieldset input[type=submit], a.button {
  background: gray;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 3px 12px;
  line-height: 2.5;
  text-shadow: black 0 -1px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  border-right: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(0,0,0,.5);
  background-image: 
    -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(100,100,100)),
      color-stop(1, rgb(200,200,200))
    );
  background-image:
    -moz-linear-gradient(
      bottom,
      rgb(100,100,100) 0%,
      rgb(200,200,200) 100%
    );
}

form fieldset input[type=submit] {   
  margin: 20px 0 20px 160px;
}
form fieldset input[type=submit]:hover, a.button:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
}
form fieldset input[type=submit]:active, a.button:active {
  text-shadow: black 0 -1px 0;
  border-top-color: rgba(0,0,0,.5);
  border-left-color: rgba(0,0,0,.5);
  border-right-color: rgba(255,255,255,.5);
  border-bottom-color: rgba(255,255,255,.5);
}

form fieldset dl dd textarea {
  height: 150px;
}

form fieldset .errorExplanation {
  margin: 20px;
  border: 1px solid gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #FFE430;
  padding: 0 0 10px 0;
  -moz-box-shadow: 1px 1px 0 #eee;
  -webkit-box-shadow: 1px 1px 0 #eee;
  box-shadow: 1px 1px 0 #eee;
}

form fieldset .errorExplanation h2 {
  font-weight: normal;
  font-size: 14px;
  color: black;
  padding: 10px;
  border-bottom: 1px solid gray;
}

form fieldset .errorExplanation p {
  margin: 10px;
}

form fieldset .errorExplanation ul {
  margin: 0 0 0 10px;
  padding-left: 1em;
}

fieldset.with_email_errors dl dd.email input,
fieldset.with_password_errors dl dd.password input,
fieldset.with_handle_errors dl dd.handle input
{
  background: #FFE430;
}

#footer {
  overflow: auto;
  color: gray;
  margin: 50px 0 0;
}

#footer a {
  color: inherit;
}

#footer p.totem {
  font-size: 92px;
  height: 100px;
  float: left;
  line-height: 92px;
  margin-right: -20px;
}

#footer .careplane {
  font-size: 170%;
  line-height: 16px;
}

#footer p#attribution {
  margin: 30px 0 0;
}
