<p class="intro">Make flight searches using <%= link_to 'Kayak', 'http://kayak.com' %>'s engine and see a climate impact estimate with each option.</p>
<%= render :partial => 'form', :locals => { :search => @search } %>
