<h2><%= @title = "#{@search.origin_airport.upcase} to #{@search.destination_airport.upcase}" %></h2>

<%= render :partial => 'itineraries/ol', :locals => { :itineraries => @itineraries } %>

<p><%= link_to 'Start over', new_search_path %></p>
